
<div  class="" style="width:100%; position: relative; top: 25.0px; margin-bottom: -45.0px">
<div id="admonition-warning" class="admonition warning">
<div class="admonition-title">
<p>Warning</p>
<p><a class="admonition-anchor-link" href="#admonition-warning"></a></p>
</div>
<div>
<p>This guide is currently still under construction and will be properly introduced at <a href="https://www.sidefx.com/houdini-hive/siggraph-2023/">Siggraph 2023 - Houdini Hive</a> on Wednesday, 9. of August 2023 at 11:00 AM PST.</p>
</div>
</div>
</div>